@use "sass:string";
@use "sass:list";
@use "sass:meta";
@use "sass:math";
@import '@euid/scss-mixins';

@import 'variables';

@function ptr($px-value) {
  @return #{$px-value / $base-font-size}rem;
}

@mixin font-style($font-family, $font-size, $font-weight, $line-height) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin font($name, $line-height: 150%) {
  $parts: str-split($name, '-');
  $font-family-var: list.nth($parts, 1);
  $font-size-var: str-to-num(list.nth($parts, 2));
  $font-weight-var: list.nth($parts, 3);

  @if $font-family-var == 'hb' {
    font-family: $font-hb;
  } @else if $font-family-var == 'ng' {
    font-family: $font-nanum-gothic;
  }

  @if $font-weight-var == 'eb' {
    font-weight: 700;
  } @else if $font-weight-var == 'b' {
    font-weight: 600;
  } @else if $font-weight-var == 'r' {
    font-weight: 400;
  } @else if $font-weight-var == 'l' {
    font-weight: 300;
  }
  font-size: ptr($font-size-var); // 두 번째 부분으로 폰트 크기 설정 (px -> rem 변환)
  line-height: $line-height;
}

@mixin flex($justify: flex-start, $align: stretch, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin line-limit($lines: 1) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
