$font-hb: HakgyoansimBadasseugiTTF-B, sans-serif;
$font-nanum-gothic: NanumGothic, sans-serif;
$base-font-size: 16;

$primary: #0F5132;
$primary-01: #18392B;
$primary-02: #F3F6F4;
$primary-03: #C2DFC6;
$gray-100: #1D1D1D;
$gray-90: #434343;
$gray-80: #676767;
$gray-70: #888888;
$gray-60: #AAAAAA;
$gray-50: #C7C7C7;
$gray-40: #DDDDDD;
$gray-30: #EEEEEE;
$white: #FFFFFF;