@import "~sanitize.css";

@media (max-width: 1920px) {
  html {
    font-size: clamp(0px, 0.729vw, 16px);
  }
}

@media (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

body::-webkit-scrollbar {
  width: 0; /* 스크롤바를 숨깁니다 */
  height: 0;
}