.container {
  padding: ptr(170) ptr(200) ptr(80);
  @include flex(center, center, column);
  gap: ptr(70);
  background: $primary-02;


  .faq_container {
    @include flex(flex-start, flex-start, column);
    padding: ptr(54);
    gap: ptr(54);
    width: 100%;
    background: $white;
  }
}