@media (min-width: 481px) {

  .faq_item {
    width: 100%;
    @include flex(flex-start, flex-start, column);
    padding-bottom: ptr(54);
    border-bottom: solid ptr(1) $primary-03;

    &:nth-last-of-type(1) {
      padding-bottom: 0;
      border-bottom: none
    }

    .title_wrapper {
      @include flex(space-between, center);
      cursor: pointer;
      width: 100%;

      .left {
        @include flex(flex-start, center);
        gap: ptr(28);

        .index {
          color: $gray-60;
          @include font('ng-24-b');
        }

        .title {
          color: $gray-100;
          @include font('ng-32-eb');
        }
      }

      .icon {
        transform: rotate(-90deg);
        stroke: $primary-03;
        transition: all 0.3s ease-in-out;
      }
    }

    .description {
      white-space: pre-line;
      color: $gray-90;
      @include font('ng-24-r');
      transition: max-height 0.2s ease-in-out, margin-top 0.3s ease-in-out;
      overflow: hidden;
      max-height: 0;
    }

    &[data-open="true"] {

      .title_wrapper {
        .icon {
          transform: rotate(90deg);
        }
      }

      .description {
        margin-top: ptr(28);
        max-height: 1000px;
      }
    }
  }
}

@media (max-width: 480px) {
  .faq_item {
    width: 100%;
    @include flex(flex-start, flex-start, column);
    padding-bottom: ptr(20);
    border-bottom: solid ptr(1) $primary-03;

    &:nth-last-of-type(1) {
      padding-bottom: 0;
      border-bottom: none
    }

    .title_wrapper {
      @include flex(space-between, center);
      cursor: pointer;
      width: 100%;

      .left {
        @include flex(flex-start, center);
        gap: ptr(8);

        .index {
          color: $gray-60;
          @include font('ng-12-b');
        }

        .title {
          color: $gray-100;
          @include font('ng-16-eb');
        }
      }

      .icon {
        transform: rotate(-90deg);
        stroke: $primary-03;
        transition: all 0.3s ease-in-out;

        width: ptr(16);
        height: ptr(16);
      }
    }

    .description {
      white-space: pre-line;
      color: $gray-90;
      @include font('ng-16-r');
      transition: max-height 0.2s ease-in-out, margin-top 0.3s ease-in-out;
      overflow: hidden;
      max-height: 0;
    }

    &[data-open="true"] {

      .title_wrapper {
        .icon {
          transform: rotate(90deg);
        }
      }

      .description {
        margin-top: ptr(28);
        max-height: 1000px;
      }
    }
  }

}