.faq_item {
  width: 100%;
  @include flex(flex-start, center);
  gap: ptr(28);
  padding-bottom: ptr(54);
  border-bottom: solid ptr(1) $primary-03;

  &:nth-last-of-type(1) {
    padding-bottom: 0;
    border-bottom: none
  }

  .faq_index {
    color: $gray-60;
    @include font('ng-24-b');
  }

  .faq_content {
    color: $gray-100;
    @include font('ng-32-eb');
  }
}